{% extends "base.html" %}

{% block content %}
  <h1>Attendance Records</h1>
  <table>
    <thead>
      <tr>
        <th>Employee</th>
        <th>Date</th>
        <th>Code</th>
        <th>Comment</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for record in records %}
      <tr>
        <td>{{ record.employee }}</td>
        <td>{{ record.date }}</td>
        <td>{{ record.code }}</td>
        <td>{{ record.comment }}</td>
        <td>
          <a href="{% url 'attendance:record_update' record.pk %}">Edit</a>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="5">No records found.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <a class="bg-sky-500 hover:bg-sky-700 rounded-xl p-3 m-4" href="{% url 'attendance:record_create' %}">Add New Record</a>
{% endblock %}
