body{
    background-color: white; 
    color: black; 
    font-size: 1.25rem;
    padding-top: 1.5rem;
    @media (prefers-color-scheme: dark) {
        background-color: black;
        color: white;
    }
}

main{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-top: 1.5rem;
    display: flex;
    align-items: center; 
}
#user{order:1}
#empl{order:3}
#rest{order:2}
#att{order:4}
#repo{order:5}
#logo{order:6}

h1{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 8px;
    font-size: 2.25rem;
    font-weight: 500;
    color: black;
    text-decoration: underline;
    padding: 0.75rem;
    @media (prefers-color-scheme: dark) {
        color: white;
    }
}

.nav-link {
    border-radius: 0.375rem; /* rounded-md */
    padding: 0.5rem 0.75rem; /* px-3 py-2 */
    font-size: 0.875rem; /* text-sm */
    font-weight: 500; /* font-medium */
    color: #d1d5db; /* text-gray-300 */
    transition: background-color 0.2s ease, color 0.2s ease; /* Smooth hover transition */
}

.nav-link:hover {
    background-color: #374151; /* hover:bg-gray-700 */
    color: #ffffff; /* hover:text-white */
}

/* Mobile Bottom Navigation */
.nav-icon {
    color: #d1d5db; /* text-gray-300 */
    font-size: 1.5rem; /* Make icons larger */
    padding: 0.75rem;
    transition: color 0.2s ease;
}

.nav-icon:hover {
    color: #ffffff; /* hover:text-white */
}

table{
    margin-left: auto;
    margin-right: auto;
    table-layout: auto;
    border-collapse: separate;
    border-spacing: 0.5rem;
    border: 1px solid #9ca3af;
    padding: 0.5rem;
    @media (prefers-color-scheme: dark) {
        border-color: #6b7280;
    }
}

th,td{
        border: 1px solid #d1d5db;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
}
#id_username, #id_email,#id_password, #id_new_password, .fieldstyle {
    display: block;
    background-color: #cbd5e0; 
    color: #1a202c;            
    border: 1px solid #cbd5e0; 
    padding: 0.5rem;
    border-radius: 0.375rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

 .button {
    background-color: #0ea5e9;
    border-radius: 9999px;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-bottom: 0.25rem;
    margin-top: 0.5rem;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0369a1;
}

.login-container {
    margin: 50px auto;
    padding: 20px;
    text-align: center;
}

.login-container input {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #000;
}


footer{
    padding: 40px;
}
@media print {
        .no-print {
            display: none !important;
        }
    }

@media (max-width: 640px) {
    h1 {
        font-size: 1.25rem;
    }

    .navitems {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    main{
        padding-top: 0

    }
    .mobile_user{
        font-size: .5rem;
        position: fixed;
        bottom: 4rem;
        left: 35%;

    }

    footer{
        font-size: .5rem;
    }
    .footimg{
        height: 10px;
    }
    .foothold{
        height: 10px;

    }
    .login-container {
        margin: 5px auto;
    }
    .button{
        font-size: .75rem;
    }
    table{
        border-spacing: 0;
    }
    .codebox{
        width: 150px;
    }

    
}


