<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Employee Attendance Tracking{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/dist/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/mystyles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <header class="text-center mx-auto">
        <h1>Employee Attendance Tracking</h1>
    </header>
    <nav class="p-4 sm:relative sm:flex  ">
      <!-- Desktop Navigation -->
      <div class="hidden sm:flex sm:h-16 sm:w-full space-x-4 bg-gray-900 sm:justify-center sm:items-center">
        {% if user.is_authenticated %}
        
          <!-- Base links for all authenticated users -->
          {% if user.role == 'manager' or user.role == 'gm' or user.role == 'dm' or user.role == 'superuser' %}
            <a href="{% url 'attendance:record_entry' %}" id="att" aria-label="Attendance" class="nav-link">Attendance</a>
            <a href="{% url 'reports:reports_home' %}" id="repo" aria-label="Reports" class="nav-link">Reports</a>
          {% endif %}
      
          <!-- Extra for GM and above -->
          {% if user.role == 'gm' or user.role == 'dm' or user.role == 'superuser' %}
            <a href="{% url 'accounts:user_setup' %}" id="user" aria-label="User Setup" class="nav-link">User Setup</a>
            <a href="{% url 'restaurants:employee_list' %}" id="empl" aria-label="Employees" class="nav-link">Employees</a>
          {% endif %}
      
          <!-- Only DM or Super -->
          {% if user.role == 'dm' or user.role == 'superuser' %}
            <a href="{% url 'restaurants:restaurant_list' %}" id="rest" aria-label="Restaurants" class="nav-link">Restaurants</a>
          {% endif %}
      
          <!-- Logout -->
          <form action="{% url 'logout' %}" method="post" id="logo" class="inline">
            {% csrf_token %}
            <button type="submit" class="nav-link">Logout</button>
          </form>
      
          <!-- Logged-in status -->
          <span class="absolute right-10 text-sm font-medium text-gray-300 hidden lg:block">
            logged in as {{ user.first_name }} {{ user.last_name }}
          </span>
      
        {% else %}
          <a href="{% url 'login' %}" class="nav-link hidden">Login</a>
        {% endif %}
      </div>
      
  
      <!-- Mobile Bottom Navigation -->
      <div class="fixed bottom-0 left-0 w-full bg-gray-900 p-2 flex justify-around items-center sm:hidden">
        {% if user.is_authenticated %}
        <div>
          <span class="mobile_user">
            logged in as {{ user.first_name }} {{user.last_name}}
          </span>
        </div>
        {% endif %}
          {% if user.is_authenticated %}
            {% if user.role == 'superuser' or user.role == 'dm' %}
              <a href="{% url 'accounts:user_setup' %}" class="nav-icon"><i class="fas fa-user-plus"></i></a>
              <a href="{% url 'restaurants:restaurant_list' %}" class="nav-icon"><i class="fas fa-building"></i></a>
              <a href="{% url 'attendance:record_entry' %}" class="nav-icon"><i class="fas fa-calendar-check"></i></a>
              <a href="{% url 'restaurants:employee_list' %}" class="nav-icon"><i class="fas fa-users"></i> </a>
              <a href="{% url 'reports:reports_home' %}" class="nav-icon"><i class="fas fa-chart-bar"></i></a>
              {% elif user.role == 'gm' %}
              <a href="{% url 'accounts:user_setup' %}" class="nav-icon"><i class="fas fa-user-plus"></i></a>
              <a href="{% url 'attendance:record_entry' %}" class="nav-icon"><i class="fas fa-calendar-check"></i></a>
              <a href="{% url 'restaurants:employee_list' %}" class="nav-icon"><i class="fas fa-users"></i> </a>
              <a href="{% url 'reports:reports_home' %}" class="nav-icon"><i class="fas fa-chart-bar"></i></a>
            {% elif user.role == 'manager' %}
              <a href="{% url 'attendance:record_entry' %}" class="nav-icon"><i class="fas fa-calendar-check"></i></a>
              <a href="{% url 'reports:reports_home' %}" class="nav-icon"><i class="fas fa-chart-bar"></i></a>
            {% endif %}
              <form action="{% url 'logout' %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="nav-icon">
                      <i class="fas fa-sign-out-alt"></i>
                  </button>
              </form>
          {% else %}
              <a href="{% url 'login' %}" class="nav-icon">
                  <i class="fas fa-sign-in-alt"></i>
              </a>
          {% endif %}
      </div>
    </nav>
      
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
      <div class="fixed bottom-0 left-0 right-0 h-5 flex justify-center items-center bg-gray-800 foothold">
        <img src="{% static 'images/logo.png' %}" alt="Site Logo" class="footimg mr-2 h-5" />
        <span class="footnote text-white text-sm">
          This app created by David Carioto
        </span>
      </div>
    </footer>
</body>
<script src="{% static 'js/script.js' %}" defer></script>
</html>
