<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Employee Attendance Tracking{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/dist/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/mystyles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <header class="text-center mx-auto">
        <h1>Employee Attendance Tracking</h1>
    </header>
    <nav class="p-4 sm:relative sm:flex  ">
      <!-- Desktop Navigation -->
      <div class="hidden sm:flex sm:h-16 sm:w-full space-x-4 bg-gray-900 sm:justify-center sm:items-center">
          {% if user.is_authenticated %}
              {% if user.role == 'superuser' or user.role == 'dm' %}
                  <a href="{% url 'accounts:user_setup' %}" class="nav-link">User Setup</a>
                  <a href="{% url 'restaurants:restaurant_list' %}" class="nav-link">Restaurants</a>
                  <a href="{% url 'attendance:record_entry' %}" class="nav-link">Attendance</a>
                  <a href="{% url 'restaurants:employee_list' %}" class="nav-link">Employees</a>
                  <a href="{% url 'reports:reports_home' %}" class="nav-link">Reports</a>
              {% elif user.role == 'gm' %}
                  <a href="{% url 'accounts:user_setup' %}" class="nav-link">User Setup</a>
                  <a href="{% url 'attendance:record_entry' %}" class="nav-link">Attendance</a>
                  <a href="{% url 'restaurants:employee_list' %}" class="nav-link">Employees</a>
                  <a href="{% url 'reports:reports_home' %}" class="nav-link">Reports</a>
              {% elif user.role == 'manager' %}
                  <a href="{% url 'attendance:record_entry' %}" class="nav-link">Attendance</a>
                  <a href="{% url 'reports:reports_home' %}" class="nav-link">Reports</a>
              {% endif %}
              <form action="{% url 'logout' %}" method="post" class="inline">
                  {% csrf_token %}
                  <button type="submit" class="nav-link">Logout</button>
              </form>
          {% else %}
              <a href="{% url 'login' %}" class="nav-link">Login</a>
          {% endif %}
          {% if user.is_authenticated %}
          <span class="fixed right-8 text-sm font-medium text-gray-300 hidden lg:block">logged in as {{ user.first_name }} {{user.last_name}}</span>
          {% endif %}
      </div>
  
      <!-- Mobile Bottom Navigation -->
      <div class="fixed bottom-0 left-0 w-full bg-gray-900 p-2 flex justify-around items-center sm:hidden">
          {% if user.is_authenticated %}
              <a href="{% url 'accounts:user_setup' %}" class="nav-icon">
                  <i class="fas fa-user-plus"></i>
              </a>
              <a href="{% url 'restaurants:restaurant_list' %}" class="nav-icon">
                  <i class="fas fa-utensils"></i>
              </a>
              <a href="{% url 'attendance:record_entry' %}" class="nav-icon">
                  <i class="fas fa-calendar-check"></i>
              </a>
              <a href="{% url 'restaurants:employee_list' %}" class="nav-icon">
                  <i class="fas fa-users"></i>
              </a>
              <a href="{% url 'reports:reports_home' %}" class="nav-icon">
                  <i class="fas fa-chart-bar"></i>
              </a>
              <form action="{% url 'logout' %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="nav-icon">
                      <i class="fas fa-sign-out-alt"></i>
                  </button>
              </form>
          {% else %}
              <a href="{% url 'login' %}" class="nav-icon">
                  <i class="fas fa-sign-in-alt"></i>
              </a>
          {% endif %}
      </div>
    </nav>
      
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
      <div class="fixed bottom-0 left-0 right-0 h-10 flex justify-center items-center bg-gray-800 foothold">
        <img src="{% static 'images/logo.png' %}" alt="Site Logo" class="footimg mr-2 h-10" />
        <span class="footnote text-white">
          This app created by David Carioto
        </span>
      </div>
    </footer>
    
    <div id="gmModal" class="fixed top-0 right-0 left-0 bottom-0 inset-0 z-50 flex items-center justify-center hidden">
      <div class="bg-gray-800 p-6 rounded-lg w-11/12 max-w-lg">
        <h3 class="text-xl font-bold mb-4">
          Assign GM to <span id="modalRestaurantName"></span>
        </h3>
        <form id="assignGmForm" method="post" action="{% url 'restaurants:assign_gm' %}">
          {% csrf_token %}
          <input type="hidden" name="restaurant_id" id="modalRestaurantId">
          <div class="mb-4">
            <label for="gmSelect" class="block mb-1">Select GM:</label>
            <select name="gm_id" id="gmSelect" class="w-full p-2 border rounded">
              <option class="text-white" value="">None</option> <!-- Option for no GM -->
              {% for gm in gms %}
              <option class="text-white" value="{{ gm.id }}">{{ gm.first_name }} {{ gm.last_name }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="flex justify-end">
            <button type="button" id="modalCancelButton" class="mr-2 px-3 py-2 bg-gray-500 text-white rounded">Cancel</button>
            <button type="submit" class="px-3 py-2 bg-blue-500 text-white rounded">Save</button>
          </div>
        </form>
      </div>
    </div>
</body>
<script src="{% static 'js/script.js' %}"></script>
</html>
